@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
}

body{
    display: flex;
}

aside{
    background-color: aqua;
    margin: 2vw 2vw 2vw 2vw;
}

#profile{
    box-sizing: border-box;
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 35%;
    height: 35%;
    border-radius: 20px;
    margin-bottom: 3%;
    padding: 1%;
}

#container-profile{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    color: white;
}

#container-profile p{
    font-size: 0.8rem;
}

#erik-icon{
    object-fit:cover;
    width: 40%;
    border-radius: 50%;
    border: 1px solid white;
    padding: 5px;
}

#informations{
    box-sizing: border-box;
    padding: 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: darkorchid;
    color: white;
    width: 35%;
    gap: 7%;
    font-size: 0.8rem;
    height: 25%;
    border-radius: 20px;
    padding-left: 4%;
    margin-bottom: 3%;
}

.links-info{
    display: flex;
    align-items: center;
}

#informations a, #informations a:visited{
    color: white;
    text-decoration: none;
}

#technologies{
    box-sizing: border-box;
    background-color: teal;
    width: 35%;
    padding: 2%;
    border-radius: 20px;
    padding-top: 4%;
    margin-bottom: 3%;
}

.container-technologies{
    display: flex;
    padding: 3%;
    font-size: 0.8rem;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2%
}

.content-technologies{
    text-align: center;
    width: 30%;
    padding: 1%;
    margin-bottom: 3%;
    border-radius: 20px;
    overflow: hidden;
    background-color:coral;
}

.content-technologies p{
    padding: 3%;
}

#experiences{
background-color: silver;
}

#education{
    background-color: tomato;
    width: 35%;
}

#education p{
    font-size: 0.8rem;
}

main{
    background-color: red;
}

#my-projects{
    background-color: orange;
}

#projects{
    display: flex;
    background-color: brown;
}

#left-project{
    background-color: darkgreen;
}

#right-project{
    background-color: darkslategrey;
}

#recent-posts{
    background-color: darkviolet;
}

#post{
    background-color: darkslategrey;
}
