@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
    box-sizing: border-box;
    font: 0.8rem;
}

body{
    display: flex;
}

aside{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: aqua;
    margin: 2vw 2vw 2vw 2vw;
}

main{
    flex-grow: 1;
    background-color: red;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 2vw 2vw 2vw 2vw;
}

/* style of profile div */

#profile{
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 25vw;
    border-radius: 20px;
    margin-bottom: 2vw;
    padding: 1vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

#container-profile{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    color: white;
    gap: 0.5vw;
}

#container-profile h2{
    font-size: 1.35rem;
}

#container-profile p{
    font-size: 0.8rem;
}

#erik-icon{
    width: 10vw;
    border-radius: 50%;
    border: 1px solid white;
    padding: 5px;
}

/* style of informations div */

#informations{
    box-sizing: border-box;
    padding: 2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: darkorchid;
    color: white;
    width: 25vw;
    font-size: 0.8rem;
    border-radius: 20px;
    margin-bottom: 2vw;
}

.links-info{
    display: flex;
    padding: 3%;
    align-items: center;
    
}

#informations a, #informations a:visited{
    color: white;
    margin-left: 2%;
    transition: 0.3s;
    text-decoration: none;
}

.links-info span{
    margin-left: 2%;
}

.links-info a:hover{
    opacity: 0.7;
}

/* style of technologies div */

#technologies{
    box-sizing: border-box;
    background-color: teal;
    width: 25vw;
    padding: 2vw;
    border-radius: 20px;
    margin-bottom: 2vw;
}

.container-technologies{
    display: flex;
    padding: 3%;
    font-size: 0.8rem;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1vw 0;
}

.content-technologies{
    text-align: center;
    width: 30%;
    padding: 1%;
/*     margin-bottom: 3%; */
    border-radius: 20px;
    background-color:coral;
}

.content-technologies p{
    padding: 3%;
}

/* style of education div */

#education{
    box-sizing: border-box;
    background-color: tomato;
    width: 25vw;
    padding: 2vw;
    border-radius: 20px;

}

#education h2{
    margin-bottom: 2%;
}

#education ul{
    padding-left: 10%;
}

#education li{
    margin-top: 2%;
}

#education p{
    font-size: 0.8rem;
}

/* style of project header */

#my-projects{
    display: flex;
    background-color: orange;
    align-items: center;
    padding: 2vw;
    justify-content: space-between;
    border-radius: 20px;
    margin-bottom: 2vw;
}

#my-projects h2{
    font-size: 1.35rem;
}

#see-all{
    font-size: 0.8rem;
}

#container-projects{
    display: flex;
    background-color: brown;
    align-items: center;
    justify-content: space-between;
    
}

/* style of projects */

.project{
    font-size: 0.8rem;
    background-color: darkgreen;
    width: 48%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1vw;
    gap: 1vw 0;
    margin-bottom: 2vw;
}
.project a, .project a:visited{
    margin-left: 0.5vw;
    font-size: 1.35rem;
    transition: 0.3s;
    text-decoration: none;
}

.project a:hover{
    opacity: 0.7;
}

.title-project{
    display: flex;
    align-items: center;
}

.bottom-of-project{
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.git-info-project{
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}

.main-language{
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}

.color-project{
    background-color: aquamarine;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 360px;
}

/* style of recent posts header */

#recent-posts{
    background-color: darkviolet;
    display: flex;
    align-items: center;
    padding: 2vw;
    justify-content: space-between;
    border-radius: 20px;
    margin-bottom: 2vw;
}

/* style of posts */

#post{
    background-color: darkslategrey;
    display: flex;
    padding: 2vw;
    border-radius: 20px;
}

#erik-icon-post{
    width: 10vw;
    border-radius: 50%;
    border: 1px solid white;
    padding: 5px;
}