@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
    box-sizing: border-box;
    font: 0.8rem;
    color: #837E9F;
}

p, span {
    font-size: 0.8rem;
}

h2 {
    font-size: 1.35rem;
}

body {
    display: flex;
    background-color: #22212C;
    flex-direction: column;
}

#page-content {
    display: flex;
}

aside {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 2vw 2vw 2vw 2vw;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 2vw 2vw 2vw 2vw;
}

/* style of profile div */

#profile {
    background-color: #302F3D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 25vw;
    border-radius: 20px;
    margin-bottom: 2vw;
    padding: 1vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#container-profile {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap: 0.5vw;
}

#container-profile h2 {
    font-size: 1.35rem;
}

#container-profile p {
    font-size: 0.8rem;
}

#erik-icon {
    width: 10vw;
    border-radius: 50%;
    border: 1px solid #837E9F;
    padding: 5px;
}

/* style of informations div */

#informations {
    box-sizing: border-box;
    padding: 2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #302F3D;
    width: 25vw;
    font-size: 0.8rem;
    border-radius: 20px;
    margin-bottom: 2vw;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.links-info {
    display: flex;
    padding: 3%;
    align-items: center;

}

#informations a, #informations a:visited {
    font-size: 0.8rem;
    margin-left: 2%;
    transition: 0.3s;
    text-decoration: none;
}

.links-info span {
    margin-left: 2%;
}

.links-info a:hover {
    opacity: 0.7;
}

/* style of technologies div */

#technologies {
    box-sizing: border-box;
    background-color: #302F3D;
    width: 25vw;
    padding: 2vw;
    border-radius: 20px;
    margin-bottom: 2vw;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container-technologies {
    display: flex;
    padding: 3%;
    font-size: 0.8rem;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1vw 0;
}

.content-technologies {
    text-align: center;
    width: 30%;
    padding: 1%;
    /*     margin-bottom: 3%; */
    border-radius: 20px;
    background-color: #CB92B1;
}

.content-technologies p {
    padding: 3%;
    color: black;
}

/* style of education div */

#education {
    box-sizing: border-box;
    background-color: #302F3D;
    width: 25vw;
    padding: 2vw;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#education h2 {
    margin-bottom: 2%;
}

#education ul {
    padding-left: 10%;
}

#education li {
    margin-top: 2%;
    font-size: 0.8rem;
}

#education p {
    font-size: 0.8rem;
}

/* style of project header */

#my-projects {
    display: flex;
    background-color: #302F3D;
    align-items: center;
    padding: 2vw;
    justify-content: space-between;
    border-radius: 20px;
    margin-bottom: 2vw;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#my-projects h2 {
    font-size: 1.35rem;
}

#see-all {
    font-size: 0.8rem;
}

#container-projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* style of projects */

.project {
    background-color: #302F3D;
    font-size: 0.8rem;
    width: 48%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vw;
    gap: 1vw 0;
    margin-bottom: 2vw;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.project a, .project a:visited {
    margin-left: 0.5vw;
    font-size: 1.35rem;
    transition: 0.3s;
    text-decoration: none;
}

.project a:hover {
    opacity: 0.7;
}

.title-project {
    display: flex;
    align-items: center;
}

.bottom-of-project {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.git-info-project {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}

.main-language {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}

.color-project {
    background-color: aquamarine;
    width: 10px;
    height: 10px;
    border: 1px black;
    border-radius: 360px;
}

/* style of recent posts header */

#recent-posts {
    background-color: #302F3D;
    display: flex;
    align-items: center;
    padding: 2vw;
    justify-content: space-between;
    border-radius: 20px;
    margin-bottom: 2vw;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* style of posts */

#post {

    background-color: #302F3D;
    display: flex;
    padding: 2vw;
    border-radius: 20px;
    font-size: 0.8rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#img-post {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 10vw;
    height: 10vw;
}

#erik-icon-post {
    width: 100%;
    border-radius: 50%;

    border: 1px solid #837E9F;
    padding: 5px;
}

#content-post {
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content-title-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.5vw;
}

#post-description {
    display: flex;
    flex-direction: column;
    row-gap: 0.5vw;
}

#post-span-description {
    font-size: 1.35rem;
}

#hashtags {
    display: flex;
    gap: 2vw;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #302F3D;
    padding: 0.5vw 0;
}

@media (max-width:1100px) {
    * {
        font-size: 0.7rem;
    }

    li, a {
        font-size: 0.7rem;
    }
}

@media (max-width: 768px) {
    * {
        font-size: 0.6rem;
    }

    li, a {
        font-size: 0.6rem;
    }

    .links-info img {
        width: 10%;
    }

    .project img {
        width: 9%;
    }

    .git-info-project {
        width: 100%;
        justify-content: flex-start;
    }

}

@media (max-width: 610px) {
    * {
        font-size: 0.5rem;
    }

    li, a {
        font-size: 0.5rem;
    }

    #erik-icon {
        width: 9vw;
    }

    #img-post {
        width: 9vw;
        height: 9vw;
    }
}

@media (max-width: 575px) {

    * {
        font-size: 0.4rem;
    }

    li, a {
        font-size: 0.4rem;
    }

}

@media (max-width: 530px) {
    #page-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    * {
        font-size: 0.8rem;
    }

    li, a {
        font-size: 0.8rem;
    }

    aside{
        margin-bottom: 0
    }
    main{
        margin-top: 0;
    }

    #profile {
        width: 80vw;
        border-radius: 20px;
        padding: 3vw;
        margin-bottom: 4vw;
    }

    #erik-icon {
        width: 15vw;
        
    }

    #container-profile {
        margin-top: 3%;
        
    }

    #informations {
        width: 80vw;
        padding: 3vw;
        margin-bottom: 4vw;
    }

    .links-info{
        padding-left: 10%;
    }

    .links-info img {
        width: 5%;
    }

    #technologies {
        width: 80vw;
        padding: 3vw;
        margin-bottom: 4vw;
    }

    #education {
        width: 80vw;
        padding: 3vw;
        margin-bottom: 4vw;
    }

    main {
        align-items: center;
        justify-content: center;
    }

    #my-projects {
        width: 80vw;
        border-radius: 15px;
        padding: 3vw;
        margin-bottom: 4vw;
    }

    .project{
        padding: 3vw;
        gap: 2vw 0;
        margin-bottom: 4vw;
    }

    #container-projects {
        width: 80vw;
    }

    #recent-posts {
        width: 80vw;
        border-radius: 15px;
        margin-bottom: 4vw;
    }

    #post {
        width: 80vw;
    }

    #content-title-post{
        row-gap: 0;
    }

    #img-post{
        width: 15vw;
        height: 15vw;
    }

    #post-span-description {
        font-size: 0.7rem;
    }

}

@media (max-width: 400px){
    * {
        font-size: 0.7rem;
    }

    li, a {
        font-size: 0.7rem;
    }
}

@media (max-width: 360px){
    * {
        font-size: 0.6rem;
    }

    li, a {
        font-size: 0.6rem;
    }
}

@media (max-width: 360px){
    * {
        font-size: 0.6rem;
    }

    li, a {
        font-size: 0.6rem;
    }

    #profile{
        width: 90vw;
    }

    #informations{
        width: 90vw;
    }

    #technologies{
        width: 90vw;
    }

    #education{
        width: 90vw;
    }


    #my-projects{
        width: 90vw;
        border-radius: 15px;
    }

    #container-projects{
        width: 90vw;
    }

    #recent-posts{
        width: 90vw;
        border-radius: 13px;
    }

    #post{
        width: 90vw;
    }
}
